doctype html
html(lang="en")
  head
    title Basis
    meta(charset="utf-8")
    meta(name="viewport", content="with=device--width, initial-scale=1")

    //external stylesheet
    link(rel="stylesheet", href="css/main.css")

    //google material design icons
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

    //jQuery MDN
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")

  body
    section
      include modules/navbar-hor
    section
      include modules/navbar-mobile
      script(src="js/navbar-mobile.js")
    section
      include modules/buttons
    section
      include modules/awesome-labels
      script(src="js/awesome-labels.js")
    section
      include modules/drop-down-menu
    section
      include modules/notifications
      script(src="js/notifications.js")
    section
      include modules/spinners



