h2 Buttons
.buttons
  a.btn.btn-lg.btn-primary(href="parallax.html") Parallax
  a.btn.btn-lg.btn-two(href="#") Click me
  a.btn.btn-lg.btn-three(href="#") Click me
  a.btn.btn-lg.btn-four(href="#") Click me
  a.btn.btn-lg.btn-five(href="#") Click me
  a.btn.btn-lg.btn-six(href="#") Click me