h2 Notifications

section.notification-container
  section.section-notification
    ul.nav
      li: i.material-icons home
      li: i.material-icons search
      li.is-active: i.material-icons star
        ul.notifications
          li
            i.material-icons remove_red_eye
            span 9
          li
            i.material-icons comment
            span 4
          li
            i.material-icons account_circle
            span 6
      li: i.material-icons face



  section.section-alert
    .website
      .title-block

        .title
          i.material-icons.site-icon face
          //span Obviously a website
          span Many faces of murray
          hr

      .grid
        - var i = 0;
        while (i++ < 16)
          .item

      .alert-element
        .icon
          i.material-icons notifications
        .text
          span You clicked a Murray!!



  section.section-modal
    .profile
      img(src="http://www.fillmurray.com/130/130")
      .text
        .name Bill Murray
        .meta Click me!

    .overlay
      .modal
        .title You clicked a Murray!
        .body
          .img(style="background-image: url(http://www.fillmurray.com/180/180)")
          .text
            p Bill Murray loves you, and sends his most sincere regards.
            p He also asks that you simply keep on hacking.














